.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: block;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  color: #2196f3;
  font-size: 18px;
  margin-left: 50px;
}
