.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  margin: 5px;
  width: 100px;
}

.img {
  width: 100px;
}

.name {
  text-align: center;
}

.title {
  text-align: center;
}
