.container {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container_img {
  margin: 15px;
}

.img {
  width: 300px;
  height: 450px;
}
.genres {
  display: inline;
  padding: 5px;
  font-weight: 500;
  // background-color: rgba(33, 150, 243, 0.4);
}
